@font-face {
    font-family: 'PP Pangram Sans Rounded Cond';
    src: url('PPPangramSansRounded-CondensedThin.eot');
    src: url('PPPangramSansRounded-CondensedThin.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-CondensedThin.woff2') format('woff2'),
        url('PPPangramSansRounded-CondensedThin.woff') format('woff'),
        url('PPPangramSansRounded-CondensedThin.ttf') format('truetype'),
        url('PPPangramSansRounded-CondensedThin.svg#PPPangramSansRounded-CondensedThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Exbold';
    src: url('PPPangramSansRounded-ExtraboldItalic.eot');
    src: url('PPPangramSansRounded-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-ExtraboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-ExtraboldItalic.woff') format('woff'),
        url('PPPangramSansRounded-ExtraboldItalic.ttf') format('truetype'),
        url('PPPangramSansRounded-ExtraboldItalic.svg#PPPangramSansRounded-ExtraboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Light.eot');
    src: url('PPPangramSansRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-Light.woff2') format('woff2'),
        url('PPPangramSansRounded-Light.woff') format('woff'),
        url('PPPangramSansRounded-Light.ttf') format('truetype'),
        url('PPPangramSansRounded-Light.svg#PPPangramSansRounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Medium.eot');
    src: url('PPPangramSansRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-Medium.woff2') format('woff2'),
        url('PPPangramSansRounded-Medium.woff') format('woff'),
        url('PPPangramSansRounded-Medium.ttf') format('truetype'),
        url('PPPangramSansRounded-Medium.svg#PPPangramSansRounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow ExBd';
    src: url('PPPangramSansRounded-NarrowExtraboldItalic.eot');
    src: url('PPPangramSansRounded-NarrowExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-NarrowExtraboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowExtraboldItalic.woff') format('woff'),
        url('PPPangramSansRounded-NarrowExtraboldItalic.ttf') format('truetype'),
        url('PPPangramSansRounded-NarrowExtraboldItalic.svg#PPPangramSansRounded-NarrowExtraboldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow Exlight Reclined';
    src: url('PPPangramSansRounded-NarrowExtralightReclined.eot');
    src: url('PPPangramSansRounded-NarrowExtralightReclined.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-NarrowExtralightReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowExtralightReclined.woff') format('woff'),
        url('PPPangramSansRounded-NarrowExtralightReclined.ttf') format('truetype'),
        url('PPPangramSansRounded-NarrowExtralightReclined.svg#PPPangramSansRounded-NarrowExtralightReclined') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow SmBd';
    src: url('PPPangramSansRounded-NarrowSemibold.eot');
    src: url('PPPangramSansRounded-NarrowSemibold.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-NarrowSemibold.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowSemibold.woff') format('woff'),
        url('PPPangramSansRounded-NarrowSemibold.ttf') format('truetype'),
        url('PPPangramSansRounded-NarrowSemibold.svg#PPPangramSansRounded-NarrowSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow SmBd';
    src: url('PPPangramSansRounded-NarrowSemiboldItalic.eot');
    src: url('PPPangramSansRounded-NarrowSemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-NarrowSemiboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-NarrowSemiboldItalic.woff') format('woff'),
        url('PPPangramSansRounded-NarrowSemiboldItalic.ttf') format('truetype'),
        url('PPPangramSansRounded-NarrowSemiboldItalic.svg#PPPangramSansRounded-NarrowSemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Smbold';
    src: url('PPPangramSansRounded-Semibold.eot');
    src: url('PPPangramSansRounded-Semibold.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-Semibold.woff2') format('woff2'),
        url('PPPangramSansRounded-Semibold.woff') format('woff'),
        url('PPPangramSansRounded-Semibold.ttf') format('truetype'),
        url('PPPangramSansRounded-Semibold.svg#PPPangramSansRounded-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Slim Exlight';
    src: url('PPPangramSansRounded-SlimExtralight.eot');
    src: url('PPPangramSansRounded-SlimExtralight.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-SlimExtralight.woff2') format('woff2'),
        url('PPPangramSansRounded-SlimExtralight.woff') format('woff'),
        url('PPPangramSansRounded-SlimExtralight.ttf') format('truetype'),
        url('PPPangramSansRounded-SlimExtralight.svg#PPPangramSansRounded-SlimExtralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Slim Medium Reclined';
    src: url('PPPangramSansRounded-SlimMediumReclined.eot');
    src: url('PPPangramSansRounded-SlimMediumReclined.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-SlimMediumReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-SlimMediumReclined.woff') format('woff'),
        url('PPPangramSansRounded-SlimMediumReclined.ttf') format('truetype'),
        url('PPPangramSansRounded-SlimMediumReclined.svg#PPPangramSansRounded-SlimMediumReclined') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Slim SmBd';
    src: url('PPPangramSansRounded-SlimSemiboldItalic.eot');
    src: url('PPPangramSansRounded-SlimSemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-SlimSemiboldItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-SlimSemiboldItalic.woff') format('woff'),
        url('PPPangramSansRounded-SlimSemiboldItalic.ttf') format('truetype'),
        url('PPPangramSansRounded-SlimSemiboldItalic.svg#PPPangramSansRounded-SlimSemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('PPPangramSansRounded-Thin.eot');
    src: url('PPPangramSansRounded-Thin.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-Thin.woff2') format('woff2'),
        url('PPPangramSansRounded-Thin.woff') format('woff'),
        url('PPPangramSansRounded-Thin.ttf') format('truetype'),
        url('PPPangramSansRounded-Thin.svg#PPPangramSansRounded-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Narrow';
    src: url('PPPangramSansRounded-Bold.eot');
    src: url('PPPangramSansRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-Bold.woff2') format('woff2'),
        url('PPPangramSansRounded-Bold.woff') format('woff'),
        url('PPPangramSansRounded-Bold.ttf') format('truetype'),
        url('PPPangramSansRounded-Bold.svg#PPPangramSansRounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compact Exlight Reclined';
    src: url('PPPangramSansRounded-CompactExtralightReclined.eot');
    src: url('PPPangramSansRounded-CompactExtralightReclined.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-CompactExtralightReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-CompactExtralightReclined.woff') format('woff'),
        url('PPPangramSansRounded-CompactExtralightReclined.ttf') format('truetype'),
        url('PPPangramSansRounded-CompactExtralightReclined.svg#PPPangramSansRounded-CompactExtralightReclined') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compact';
    src: url('PPPangramSansRounded-CompactRegular.eot');
    src: url('PPPangramSansRounded-CompactRegular.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-CompactRegular.woff2') format('woff2'),
        url('PPPangramSansRounded-CompactRegular.woff') format('woff'),
        url('PPPangramSansRounded-CompactRegular.ttf') format('truetype'),
        url('PPPangramSansRounded-CompactRegular.svg#PPPangramSansRounded-CompactRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compact';
    src: url('PPPangramSansRounded-CompactThinItalic.eot');
    src: url('PPPangramSansRounded-CompactThinItalic.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-CompactThinItalic.woff2') format('woff2'),
        url('PPPangramSansRounded-CompactThinItalic.woff') format('woff'),
        url('PPPangramSansRounded-CompactThinItalic.ttf') format('truetype'),
        url('PPPangramSansRounded-CompactThinItalic.svg#PPPangramSansRounded-CompactThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compressed ExBd';
    src: url('PPPangramSansRounded-CompressedExtrabold.eot');
    src: url('PPPangramSansRounded-CompressedExtrabold.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-CompressedExtrabold.woff2') format('woff2'),
        url('PPPangramSansRounded-CompressedExtrabold.woff') format('woff'),
        url('PPPangramSansRounded-CompressedExtrabold.ttf') format('truetype'),
        url('PPPangramSansRounded-CompressedExtrabold.svg#PPPangramSansRounded-CompressedExtrabold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangram Sans Rounded Compressed Medium Reclined';
    src: url('PPPangramSansRounded-CompressedMediumReclined.eot');
    src: url('PPPangramSansRounded-CompressedMediumReclined.eot?#iefix') format('embedded-opentype'),
        url('PPPangramSansRounded-CompressedMediumReclined.woff2') format('woff2'),
        url('PPPangramSansRounded-CompressedMediumReclined.woff') format('woff'),
        url('PPPangramSansRounded-CompressedMediumReclined.ttf') format('truetype'),
        url('PPPangramSansRounded-CompressedMediumReclined.svg#PPPangramSansRounded-CompressedMediumReclined') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Bold.eot');
    src: url('Unbounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Bold.woff2') format('woff2'),
        url('Unbounded-Bold.woff') format('woff'),
        url('Unbounded-Bold.ttf') format('truetype'),
        url('Unbounded-Bold.svg#Unbounded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Black.eot');
    src: url('Unbounded-Black.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Black.woff2') format('woff2'),
        url('Unbounded-Black.woff') format('woff'),
        url('Unbounded-Black.ttf') format('truetype'),
        url('Unbounded-Black.svg#Unbounded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-ExtraBold.eot');
    src: url('Unbounded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-ExtraBold.woff2') format('woff2'),
        url('Unbounded-ExtraBold.woff') format('woff'),
        url('Unbounded-ExtraBold.ttf') format('truetype'),
        url('Unbounded-ExtraBold.svg#Unbounded-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-ExtraLight.eot');
    src: url('Unbounded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-ExtraLight.woff2') format('woff2'),
        url('Unbounded-ExtraLight.woff') format('woff'),
        url('Unbounded-ExtraLight.ttf') format('truetype'),
        url('Unbounded-ExtraLight.svg#Unbounded-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Light.eot');
    src: url('Unbounded-Light.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Light.woff2') format('woff2'),
        url('Unbounded-Light.woff') format('woff'),
        url('Unbounded-Light.ttf') format('truetype'),
        url('Unbounded-Light.svg#Unbounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Medium.eot');
    src: url('Unbounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Medium.woff2') format('woff2'),
        url('Unbounded-Medium.woff') format('woff'),
        url('Unbounded-Medium.ttf') format('truetype'),
        url('Unbounded-Medium.svg#Unbounded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Regular.eot');
    src: url('Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Regular.woff2') format('woff2'),
        url('Unbounded-Regular.woff') format('woff'),
        url('Unbounded-Regular.ttf') format('truetype'),
        url('Unbounded-Regular.svg#Unbounded-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-SemiBold.eot');
    src: url('Unbounded-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-SemiBold.woff2') format('woff2'),
        url('Unbounded-SemiBold.woff') format('woff'),
        url('Unbounded-SemiBold.ttf') format('truetype'),
        url('Unbounded-SemiBold.svg#Unbounded-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



